* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
}
:focus {
    outline: none;
}
img {
    width: 100%;
    height: 100%;
}
a {
    color: currentColor;
    text-decoration: none;
}
/*  ---------------------------------
    body layout
    ---------------------------------   */
body {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-areas:
        "main-header"
        "main-body"
        "main-footer";
}
#main-header {
    grid-area: main-header;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#main-body {
    grid-area: main-body;
}
#main-footer {
    grid-area: main-footer;
}
/*  ---------------------------------
    body header
    ---------------------------------   */
#main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;            /* default */
    width: 100%;
    background-color: blue;
    color: white;
}
#main-header .title, #main-header .nav {
    display: flex;
    max-width: 100vw;
    flex-direction: row;            /* default */
    align-items: center;
    flex-shrink: 0;
    /* border: 2px solid salmon; */
}
#main-header .title {
    margin: 0.4rem;
}
#menu-btn {
    width: 3rem;
    height: 3rem;
    border: none;
    background: none;
}
#main-header .title h1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav {
    margin-left: auto;
    overflow-x: auto;
}
.nav a {
    padding: 0.5rem 1rem;
}


/*  ---------------------------------
    welcome Section
    ---------------------------------   */
#welcome-section {
    /* position: absolute; */
    display: flex;
    height: calc(100vh - 6em);
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    /* height: 50%; */
}
@media (min-width: 10em) {
    #welcome-section {
        height: calc(100vh - 5em);
    }
}
@media (min-width: 25em) {
    #welcome-section {
        height: calc(100vh - 5.5em);
    }
}
@media (min-width: 30em) {
    #welcome-section {
        height: calc(100vh - 6em);
    }
}
@media (min-width: 40em) {
    #welcome-section {
        height: calc(100vh - 7em);
    }
}
#welcome-section h1 {
    font-size: 4em;
    font-family: sans-serif;
}

/*  ---------------------------------
    project section
    ---------------------------------   */
#projects {
    display: block;
    width: 90vw;
    margin: auto;
}
.project-grid-container {
    display: grid;
    grid-gap: 5vmax;
    grid-template-columns: repeat(auto-fit, minmax(10em, auto));
    justify-items: center;
    align-items: center;
    /* grid-template-rows: repeat(auto-fit, minmax(auto, 25em)); */
}
@media (min-width: 20em) {
    .project-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(15em, auto));
        /* grid-template-rows: repeat(auto-fit, minmax(auto, 25em)); */
    }
}
@media (min-width: 30em) {
    .project-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(25em, auto));
        /* grid-template-rows: repeat(auto-fit, minmax(auto, 25em)); */
    }
}
.project-tile {
    text-align: center;
    border-radius: 1em;
    overflow: hidden;
    background-color: #eee;
}
.tile-header h3 {
    font-size: 1.5em;
}
.tile-footer{
    font-size: 1.2em;
}
.tile-img {
    max-width: 100%;
    /* height: 100%; */
}


/*  ------------------------------
    main Footer
    ------------------------------  */
#main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 0;
    color: #fff;
}
#main-footer { 
    /* Background color */
    background: rgb(0,0,150);
    background: -moz-linear-gradient(55deg, rgba(0,0,150,1) 0%, rgba(0,0,100,1) 50%, rgba(0,0,150,1) 50%, rgba(0,0,50,1) 100%);
    background: -webkit-linear-gradient(55deg, rgba(0,0,150,1) 0%, rgba(0,0,100,1) 50%, rgba(0,0,150,1) 50%, rgba(0,0,50,1) 100%);
    background: linear-gradient(55deg, rgba(0,0,150,1) 0%, rgba(0,0,100,1) 50%, rgba(0,0,150,1) 50%, rgba(0,0,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000096",endColorstr="#000032",GradientType=1);
}
.copyright {
    display: flex;              /*  to center heading  */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.copyright h4 {
    font-weight: 500;
}
.share-btns-container, .contact-btns-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.share-btns-container a, .contact-btns-container a {
    margin: 0.2rem;
    height: 3rem;
    width: 3rem;
    flex-grow: 1;
    text-align: center;
}